.bodyDark {
  background: #2c3e50;
  color: #ecf0f1;
}

.navDark {
  color: #ecf0f1;
  text-decoration: none;
}

.navDark:hover {
  color: #1abc9c;
}

h1 {
  font-weight: lighter;
  font-style: italic;
}
